<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>products Information</h3>

      <br />
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Product Id</th>
              <th class="text-center">Productname</th>
              <th class="text-center">Description</th>
              <th class="text-center">Price</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Template Row -->
            <tr>
              <td><%= product.Productid %></td>
              <td class="text-center"><%= product.Productname %></td>
              <td class="text-center"><%= product.Description %></td>
              <td class="text-center"><%= product.Price %></td>
  
  <td class="text-center">
 <a href="/products/edit/<%= product._id %>" class="btn btn-warning btn-sm">
        <i class="fas fa-pencil-al"></i> Edit</a>
        </td>
              <td class="text-center">
 <a href="/products/delete/<%= product._id %>" class="btn btn-warning btn-sm">
        <i class="fas fa-trash"></i> Delete</a>
        </td>
            </tr>
          </tbody>
        </table>
      </div>
         


    </main>

    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
